.fields {
  display: flex;
  flex-direction: column;
  gap: 1.8rem 0;

  .field {
    display: grid;
    grid-template-columns: 1fr;

    &--error {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0 1rem;
    }
    &--buttons {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
    &__label {
      font-family: MontserratBold;
      font-size: 1.4rem;
      letter-spacing: .14rem;
      line-height: 1.8rem;
      margin-bottom: .4rem;
    }
    &__input {
      font-family: MontserratRegular;
      font-size: 1.6rem;
      letter-spacing: 0;
      line-height: 1.9rem;
      border: .1rem solid #C7C2C0;
      padding: 1.4rem 1.1rem;
    }
    &__input:focus {
      border: .1rem solid #000000;
    }
    &__input:focus-visible {
      outline: 0;
    }
    &__svg {
      width: 1rem;
    }
    &__error {
      font-family: MontserratMedium;
      font-size: 1.2rem;
      letter-spacing: .06rem;
    }
    &__button {
      width: 100%;
      padding: 1.7rem 0;
      border: none;
      font-family: MontserratBold;
      font-size: 1.4rem;
      letter-spacing: .14rem;
      line-height: 1.8rem;
      margin-bottom: .4rem;
      cursor: pointer;
      max-width: none;

      &--primary {
        color: #FFFFFF;
        background: #000000;
  
        &[disabled] {
          background: rgba($color: #000000, $alpha: .6);
        }
      }
      &--secondary {
        color: #000000;
        background: #FFFFFF;
  
        &[disabled] {
          background: rgba($color: #FFFFFF, $alpha: .6);
        }
      }
    } 
  }
}